warcio
requests-cache
tqdm
pyarrow
html5prescan
sniffpy
sentencepiece
torch
scipy
sklearn
datasets>=1.9 # need huggingface/datasets#2453 for run_mlm.py use of `column_names[0]`
transformers
protobuf
pycryptodome
markdown
altair
s3fs
ray[default,tune]
